<div class="auxiliar-assistance mb-3">
  <div class="auxiliar-assistance__header">
    <div class="auxiliar-assistance__test">
      <form action="" class="pt-4 auxiliar-assistance__form">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="row align-items-center">
                  <label for="" class="col-4 p-0 font-weight-bold">Fecha</label>
                  <input type="date" class="col-5 p-0 form-control w-50">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <div class="row align-items-center">
                  <label for="" class="col-4 font-weight-bold">Filtros</label>
                  <select class="col-5  form-control w-50">
                    <option value="">Filtro 1</option>
                    <option value="">Filtro 2</option>
                    <option value="">Filtro 3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit">Aplicar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="auxiliar-assistance__search">
    <form action="">
      <input type="text" placeholder="Buscar Estudiante...">
    </form>
  </div>
  <div class="auxiliar-assistance__assistance pt-4">
    <h4 class="text-center mb-5 text-uppercase">Lista de Alumnos</h4>
    <table class="mb-5  table table-hover auxiliar-assistance__table">
      <thead>
        <tr class="text-white">
          <th>Estudiante</th>
          <th class="text-center">Edad</th>
          <th class="text-center">Grado</th>
          <th class="text-center">Seccion</th>
          <th class="text-center">Asistencias</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Delgado Marcos</td>
          <td class="text-center">20</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
          <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
        <tr>
          <td>Becker Vega Maceda</td>
          <td class="text-center">21</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
          <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td class="text-center">21</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
          <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td class="text-center">21</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
          <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td class="text-center">21</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
          <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td class="text-center">21</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
          <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td class="text-center">21</td>
          <td class="text-center">5to</td>
          <td class="text-center">B</td>
         <td class="text-center"><a href="#" class="auxiliar-assistance__detail">Detalle</a></td>
        </tr>
      </tbody>
    </table>
    <h4 class="text-center mb-4 text-uppercase">Lista de Alumnos con mas de 3 faltas</h4>
  </div>
</div>