<div class="auxiliar-assistance mb-3">
  <div class="auxiliar-assistance__header">
    <div class="auxiliar-assistance__test">
      
    </div>
  </div>
  <div class="auxiliar-assistance__search">
    <form action="">
      <input type="text" placeholder="Buscar Estudiante...">
    </form>
  </div>
  <div class="auxiliar-assistance__assistance">
    <table class="table table-hover auxiliar-assistance__table">
      <thead>
        <tr class="text-white">
          <th>Estudiante</th>
          <th>Edad</th>
          <th>Grado</th>
          <th>Seccion</th>
          <th>Presente</th>
          <th>Ausente</th>
          <th>Restraso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Delgado Marcos</td>
          <td>20</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Becker Vega Maceda</td>
          <td>21</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td>21</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td>21</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td>21</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td>21</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Antonello Vega Maceda</td>
          <td>21</td>
          <td>5to</td>
          <td>B</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>