*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f6f7fb; }

.main {
  padding-left: 0;
  padding-top: 5.6rem;
  transition: all .3s ease; }

.menu.open + .main {
  padding-left: 24rem; }

.menu.open .menu__sidebar {
  left: 0%; }

.menu.open .menu__menu {
  padding-left: 24rem; }

.menu__sidebar {
  background-color: #404E67;
  position: fixed;
  height: 100vh;
  width: 24rem;
  z-index: 100;
  transition: all .3s ease;
  top: 0;
  left: -100%; }

.menu__sidebar-header {
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.13);
  min-height: 5.6rem; }

.menu__sidebar-logo {
  margin: 0;
  font-size: 1.6rem;
  color: #fff; }

.menu__sidebar-image {
  margin-bottom: 12rem; }

.menu__sidebar-operation {
  color: #fff;
  font-size: 1.1rem;
  background-color: #3b485e;
  padding: .5rem 0; }

.menu__sidebar-link {
  padding: 1.2rem 1rem;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none !important;
  transition: all .3s;
  border-left: .3rem solid transparent; }
  .menu__sidebar-link i {
    width: 1.5rem;
    margin-right: .5rem; }

.menu__sidebar-link:hover {
  background-color: #37455a;
  color: #fff;
  border-left: 0.3rem solid #007bff; }

.menu__menu {
  padding-left: 0;
  height: 5.6rem;
  box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.13);
  transition: all .3s ease;
  position: fixed;
  z-index: 99;
  background-color: #fff; }

.menu__bars {
  padding: 0 1.5rem;
  cursor: pointer; }
  .menu__bars i {
    font-size: 1.8rem;
    color: #404E67; }

.footer {
  background-color: #fff; }
  .footer__title {
    text-transform: uppercase;
    padding: 2rem 0;
    border-bottom: .1rem solid #f5f5f5;
    font-size: 1.4rem; }
  .footer__col i {
    font-size: 3rem;
    color: #007bff; }
  .footer__subtitle {
    text-transform: uppercase; }
  .footer__paragraph {
    color: #007bff;
    font-size: 1.4rem;
    margin-bottom: 0; }
  .footer__end {
    font-size: 1.4rem; }

.home {
  padding: 5rem 2.8rem 2.8rem; }

.auxiliar-assistance {
  background-color: #fff; }
  .auxiliar-assistance__header {
    height: 9.5rem;
    padding: 1rem 1rem 0 1rem; }
  .auxiliar-assistance__test {
    border-bottom: 0.1rem solid #eee;
    background-color: #fff;
    height: 100%; }
  .auxiliar-assistance__search {
    padding: 2rem 1rem;
    border-bottom: 0.1rem solid #eee; }
    .auxiliar-assistance__search input {
      width: 15rem;
      border-radius: .3rem;
      border: none;
      border: .1rem solid #ddd;
      padding: .2rem;
      outline: none;
      font-size: 1.2rem; }
  .auxiliar-assistance__form input {
    outline: none !important; }
  .auxiliar-assistance__form button {
    background-color: #007bff;
    color: #fff;
    padding: .3rem 2rem;
    border-radius: .3rem;
    border: none; }
  .auxiliar-assistance__detail {
    background-color: #14dcb1;
    display: inline-block;
    padding: .3rem 2rem;
    border-radius: .3rem;
    color: #fff; }
  .auxiliar-assistance__detail:hover {
    color: #fff;
    background-color: #17cfa7;
    text-decoration: none; }
  .auxiliar-assistance__table {
    border: 0.2rem solid #007bff; }
    .auxiliar-assistance__table thead {
      background-color: #007bff; }
    .auxiliar-assistance__table th, .auxiliar-assistance__table td {
      font-size: 1.2rem; }
    .auxiliar-assistance__table tbody tr {
      border-bottom: 0.2rem solid #007bff !important; }

.option {
  height: 15.7rem; }
  .option__img {
    background-color: crimson;
    height: 70%; }
    .option__img img {
      height: 100%; }
  .option__link {
    display: flex;
    height: 30%;
    font-size: 1.4rem;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    text-decoration: none !important;
    font-weight: 700; }
    .option__link span:last-child {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1.2rem;
      height: 3rem; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50rem; }

.login-container {
  padding: 20px 0px;
  background: #fff;
  width: 30vw;
  min-width: 25vw; }

.login__title {
  font-weight: 300;
  font-size: 3rem; }

.login-title > h1 {
  color: #ed2553;
  font-weight: bolder;
  font-size: 1.6rem;
  background-color: blue; }

.login-body {
  padding: 5px 50px 5px 50px; }

.btn-login {
  margin: auto;
  height: 60px;
  width: 80%;
  font-size: 20px;
  background: #fff;
  border: 2px solid #dddddd;
  color: #dddddd;
  font-weight: bolder; }

.btn-login:hover {
  background: #fff;
  border: 2px solid #ed2553;
  color: #ed2553; }

.group {
  position: relative;
  margin-bottom: 45px; }

/*input {
    font-size: 1.4rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 1.4rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #ed2553;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ed2553;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
*/
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #ed2553; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #ed2553; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #ed2553; }
  to {
    width: 0;
    background: transparent; } }
