*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.main {
  padding-left: 0;
  padding-top: 5.6rem;
  transition: all .3s ease;
}

.menu.open + .main {
  padding-left: 24rem;
}