.auxiliar-assistance {
  background-color: $color-white;

  &__header {
    height: 9.5rem;
    padding: 1rem 1rem 0 1rem;
  }

  &__test {
    border-bottom: .1rem solid $color-back-2;
    background-color: $color-white;
    height: 100%;
  }

  &__body {

  }

  &__search {
    padding: 2rem 1rem;
    border-bottom: .1rem solid $color-back-2;

    input {
      width: 15rem;
      border-radius: .3rem;
      border: none;
      border: .1rem solid #ddd;
      padding: .2rem;
      outline: none;
      font-size: 1.2rem;
    }
  }

  &__form {

    input {
      outline: none !important;
    }

    button {
      background-color: $color-primary-1;
      color: $color-white;
      padding: .3rem 2rem;
      border-radius: .3rem;
      border: none;

    }
  }

  &__detail {
    background-color: $color-secondary-1;
    display: inline-block;
    padding: .3rem 2rem;
    border-radius: .3rem;
    color: $color-white;
  }

  &__detail:hover {
    color: $color-white;
    background-color: $color-secondary-2;
    text-decoration: none;
  }

  &__table {
    border: .2rem solid $color-primary-1;

    thead {
      background-color: $color-primary-1;
    }

    th, td {
      font-size: 1.2rem;
    }

    tbody tr {
      border-bottom: .2rem solid $color-primary-1 !important;
    }
  }


}