<div class="menu container-fluid" id="menu" :class="{ 'open': isOpen }">
  <div class="row">
    <div class="col-md-auto menu__sidebar p-0">
      <div class="menu__sidebar-header d-flex justify-content-center align-items-center">
        <h1 class="menu__sidebar-logo">PORTAL ESCOLAR</h1>
      </div>
      <div class="menu__sidebar-image">

      </div>
      <div class="menu__sidebar-content">
        <p class="menu__sidebar-operation text-center">OPERACIONES</p>
        <div class="menu__sidebar-menu d-flex flex-column">
          <a href="#" class="menu__sidebar-link"><i class="fas fa-home"></i> <span>INICIO</span></a>
          <a href="#" class="menu__sidebar-link"><i class="far fa-circle"></i> <span>Presentacion</span></a>
          <a href="#" class="menu__sidebar-link"><i class="far fa-circle"></i> <span>Comunicados</span></a>
          <a href="#" class="menu__sidebar-link"><i class="far fa-circle"></i> <span>Noticias</span></a>
          <a href="#" class="menu__sidebar-link"><i class="far fa-circle"></i> <span>Contactate</span></a>
          <a href="#" class="menu__sidebar-link"><i class="far fa-circle"></i> <span>Normativa</span></a>
          <a href="#" class="menu__sidebar-link"><i class="far fa-circle"></i> <span>Manuales</span></a>
        </div>
      </div>
    </div>
    <div class="col menu__menu d-flex justify-content-between">
      <div class="menu__bars d-flex align-items-center" @click="showOrHideSidebar">
        <i class="fa fa-bars"></i>
      </div>
      <div class="menu__users-options d-flex align-items-center">
        Usuario
      </div>
    </div>
  </div>
</div>